---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


// Our variables
$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$text-white:       #fff;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  color: $text-white;
  font-weight: 500;
  background: url("https://sk.skolkovo.ru/img/4c5afcd1-c052-4ffb-86d1-52728b7ffb9f/moove.jpg?fm=jpg&q=80&fit=crop&crop=3000%2C2000%2C0%2C0&w=2560&h=948") no-repeat;
  /* background-color: crimson; */
  /* background: url('https://common.skolkovo.ru/moove-by-skolkovo-mts-old/images/background.svg') repeat; */
  background-size: cover;
  background-attachment: fixed !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
.site-header {
  margin: 3rem 0;
  padding: 0;
  border-top: 0 solid;
  border-bottom: 0 solid;
}
.site-title {
  content: url('https://www.skolkovo.ru/frontimg/logo-sk-mts.png');
  width: 272px;
  display: block;
  height: auto !important;
  @media screen and (max-width: $on-palm) {
    width: 200px;
  }
}
.site-nav {
  .page-link {
    color: $text-white;
    line-height: 1.5;

    @media screen and (max-width: $on-palm) {
      color: $text-color;
    }
  }
}

#search-demo-container {
  padding: 0 !important;
  margin: 3rem auto !important;
  border: 0 solid lightgrey !important;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#results-container {
  color: $text-white;
}

.social-btn {

}

.home {
  display: none;
}

#search-input {
  display: inline-block;
  padding: 0;
  width: 100%;
  font-size: 1rem !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}

input {
  &:matches([type="button"], [type="checkbox"], [type="file"], [type="hidden"], [type="image"], [type="radio"], [type="reset"], [type="search"], [type="submit"]):focus, &[type="file"]:focus::file-selector-button {
    outline-offset: 0;
    outline-color: none;
  }
}

.list-inline-item {
  display: none;
}


a {
  &:visited {
    color: $text-white;
  }

  &:hover {
    color: $text-white;
    text-decoration: underline;
  }

  color: $text-white;
  text-decoration: none;
}

.site-footer {
  a {
    span {
      display: inline-flex !important;
      img {
        width: 28px !important;
        height: 28px !important;
      }
    }
  }
}

.fb_iframe_widget {
  display: inline-flex !important;
  position: relative !important;
}

.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button {
  position: relative !important;
  visibility: visible !important;
  width: 76px !important;
  height: 28px !important;
  display: inline-flex !important;
}

.page-content {
  padding: 0;
}

.site-footer {
  border-top: 0 solid;
}

.footer-heading {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: $text-white;
}

.footer-col-wrapper {
  font-size: 1rem;
  color: $text-white;
  display: none;
}

.footer-heading {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: $text-white;
  display: none;
}
