<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.head %}{{ page.head }}{% else %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    
    <!-- meta info -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Moove Students">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ page.urlimg }}">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <meta property="vk:image" content="{{ page.vkimage }}">
    <meta property="twitter:image" content="{{ page.urlimg }}">
    
    
   
    <meta property="og:title" content="{{ page.title }}. Результаты учебы на MOOVE">
    <meta property="og:description" content="Мои результаты стажировки в MOOVE">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:locale" content="ru_RU">
   
    
    
    

     <!-- meta info -->

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- VK -->
  <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

  <!-- FB -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v11.0" nonce="jkbIvkbc"></script>

  <!-- Twitter -->
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

</head>
